.vscode
build-*
tmp
build
mkerr
olderr
*~
.vs

Testing
ci-build
ci-debug
src/async_operations.txt

https://www.dropbox.com/sh/8d4e8mjdyaz6lh8/AAAbSCrs-HGao2XSlL0jTg_da?dl=0&preview=Structured+Networking+copy.png
